<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title pull-left">Booking Details ({{booking.id}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row bordered-row">
            <div class="col-md-4">
                <b>BOOKING TYPE</b>
                <div>{{booking.type}}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()" id="btn-close">Close</button>
    </div>
</div>
